.features-clean, .mission {
  color: #b7e2d9;
  background-color: #00231d;
  padding-bottom: 30px;
}

@media (max-width:767px) {
  .features-clean {
    padding-bottom: 10px;
  }
}

.features-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
}

@media (max-width:767px) {
  .features-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom: 40px;
  }
}

.features-clean .item {
  min-height: 100px;
  padding-left: 80px;
  margin-bottom: 40px;
}

@media (max-width:767px) {
  .features-clean .item {
    min-height: 0;
  }
}

.features-clean .item .name {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 1400px) {
  .features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.features-clean .item .icon {
  font-size: 40px;
  float: left;
  margin-left: -65px;
  text-shadow: 1px .5px 1px;
}

@media (min-width: 1401px) {
  p {
    font-size: 1.5rem;
  }
}

.row.features {
  justify-content: center;
}

.hero.isi {
  width: 90%;
  height: inherit;
  position: absolute;
  inset: 0;
  z-index: 10;
}

.hero.isi .row {
  width: inherit;
  height: inherit;
  align-items: center;
}

.col-12.col-lg-6.col-xl-5.offset-xl-1 {
  width: initial;
}

@media (max-width: 576px) and (min-width: 421px) {
  .header-blue .hero h1 {
    color: #fff;
    text-align: left;
    font-size: 2rem;
    margin-top: 10px;
    line-height: 1.4;
  }
}

@media (max-width: 576px) and (min-width: 421px) {
  .header-blue .hero p {
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  div.row.people {
    width: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "Huda""Amin""Aul""Nafis";
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.team-clean .container {
  color: #b7e2d9;
  height: 75%;
}

@media (min-width: 1200px) {
  .row.people {
    height: auto;
    grid-template-areas: "Huda Amin Aul Nafis";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .team-clean {
    height: 60%;
  }
}

div.contact-utama {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.contact-dalam {
  justify-content: center;
}

@media (max-width: 1400px) {
  p.text-center {
    font-size: 1.3rem;
  }
}

@media (min-width: 1401px) {
  p.text-center, .features-clean .item .description {
    font-size: 1.5rem;
  }
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #01493d;
  margin-top: 20px;
  margin-bottom: 35px;
}

