.about-us-page {
  background-image: url("../../assets/img/carousel/Carousel%205.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.page-section.about-heading.briquette-page {
  background-image: url("../../assets/img/carousel/Carousel%201.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-faded-90 {
  background-color: rgba(183,226,217,0.9);
}

.colomMisi {
  width: 50%;
}

@media (max-width: 420px) {
  .mision-item div .name {
    text-align: center;
    font-size: 20px;
  }
}

.mision-item img {
  width: 100%;
}

.mision-item {
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.vision .row {
  align-items: center;
}

.mision {
  background-color: #00231d;
}

h1.whymust {
  margin: 0;
  background: url("../../assets/img/Texture/T-1.png") center / cover no-repeat, #b7e2d9;
  background-blend-mode: luminosity;
}

@media (min-width: 769px) {
  h1.whymust {
    margin: 0;
    background-color: #b7e2d9;
    font-size: 5rem;
    line-height: 167px;
  }
}

.features-clean, .mission {
  color: #b7e2d9;
  background-color: #00231d;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

iframe {
  width: 100%;
}

