.social-icons {
  text-align: center;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 2px 0;
    border-radius: 0;
    background: transparent;
  }
}

.social-icons i {
  display: inline-block;
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.fab.fa-instagram {
  color: #bc2a8d;
}

.fab.fa-github {
  color: white;
}

@media (min-width: 577px) {
  .social-icons i {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .social-icons i {
    font-size: larger;
  }
}

.fab.fa-linkedin {
  color: #0077b5;
}

