#barbeque-grill th {
  color: var(--bs-gray-dark);
}

h2.grade {
  color: whitesmoke;
}

.video-and-stats .table {
  color: inherit;
}

#barbeque-grill {
  background: #b7e2d9;
  color: #00231d;
}

#barbeque-grill .stats {
  border-color: #00231d;
}

div.e2bg {
  height: 30px;
  background: linear-gradient(#359385, #b7e2d9 100%);
}

.trans.noneshadow {
  width: 100%;
  height: 167px;
  z-index: 2000;
}

@media (max-width: 576px) {
  .video-and-stats {
    height: auto;
  }
}

.mtop5px {
  margin-top: -5px;
}

#hero {
  width: 100%;
  height: 100vh;
  /*margin-top: -100px;*/
  color: whitesmoke;
  background: url("../../assets/img/carousel/Carousel%206.webp") center / cover no-repeat;
  background-color: #00231d;
  background-blend-mode: color-dodge;
  z-index: 20;
}

@media (min-width: 768px) {
  #hero {
    background-image: url("carousel/Carousel 6.png");
  }
}

#subtitle {
  font-family: 'Convergence';
  font-size: 46px;
  font-weight: bold;
}

#hero-bottom {
  color: #fff;
}

@media (min-width: 768px) {
  #hero-bottom p {
    font-size: x-large;
  }
}

.p-bot {
  font-size: 12px;
  font-weight: 100;
}

.p-top {
  font-size: 26px;
  font-family: 'Convergence';
  font-weight: bold;
  margin-bottom: 0;
}

#hero-bottom {
  color: #fff;
}

#hero-bottom .container {
  max-width: 700px;
  text-align: center;
}

