#barbeque-grill th {
  color: var(--bs-gray-dark);
}

h2.grade {
  color: whitesmoke;
}

div.parallax {
  background: url("../../assets/img/carousel/Carousel%205.png") center / cover;
  width: 100%;
  height: 500px;
}

.video-and-stats .table {
  color: inherit;
}

#barbeque-grill {
  background: #b7e2d9;
  color: #00231d;
}

#barbeque-grill .stats {
  border-color: #00231d;
}

div.e2bg {
  height: 30px;
  background: linear-gradient(#359385, #b7e2d9 100%);
}

.trans.noneshadow {
  width: 100%;
  height: 167px;
  z-index: 2000;
}

@media (max-width: 576px) {
  .video-and-stats {
    height: auto;
  }
}

.mtop5px {
  margin-top: -5px;
}

